

.cityScreen{
        border-radius: 2em;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.199);
        padding: 1em;
        padding-top: -5em;
        color: white;
}

.Link{
        text-decoration: none;
        color: white;
        border: solid 1px white;
        padding: 0.5em;
        border-radius: 0.5em;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.205);
}

.Link:hover{
        background-color: rgba(0, 0, 0, 0.185);
}

.stat{
        padding-left: 1.5em;
}

.stats{
        display: flex;
        justify-content: space-around;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 0.22);
        margin: 0.2em;
        border-radius: 1em;

}

.detail{
        margin: 0;
}

.weatherLogo{
        margin: 0;
        position: relative;
        width: 4em;
        padding-left: 0.5em;
}


.time{
        margin: 0;
        font-size: 1.7em;
}

.title{
        margin: 0;
        font-size: 3em;
}